.cardd{
    margin: auto;
    margin-top: 50px;

  

}


 .search{
    width: 500px;
    height: 50px;
    margin: auto;
    margin-left: 400px;
    margin-top: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
   
   }

   input.search ::placeholder{
       color: black;
       opacity: 1;
   } 

   .card_sty{
    background-color:#906fe4;
    width: 600px;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    margin-right: 20px;

   }

   .sty{
       margin-top: 70px;
       font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
       color: whitesmoke;
       text-align: center;
       
    }

   .sty1{
    margin-top: 50px;
    font-family: cursive;
    text-align: center;
}

.sty2{
    margin-top: 50px;
    font-family: cursive;
    text-align: center;
    margin-bottom: 70px;
}

.button{
    width: 60px;
    color: whitesmoke;
    background-color: black;
    border-radius: 6px 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 50px;
}